---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<p class="message"> İyi Çalışmalar! </p>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Geri</a>
  {% else %}
    <span class="pagination-item older">Geri</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a title="" class="pagination-item newer" href="{{ '/' | absolute_url }}">İleri</a>
    {% else %}
      <a title="" class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">İleri</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">İleri</span>
  {% endif %}
</div>
