<!DOCTYPE html>
<html lang="tr">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Anasayfa">{{ site.title }}</a>
            <small> - {{ site.description }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content}}
        
        <div class="mg-right-menu-container">
          {% if site.posts.size >= 1 %}
          <h4 class="mg-right-menu-title"><b>Son Yazılar</b></h4>
          <ul class="mg-right-menu">
            {% for post in site.posts %}
            <li><a title="{{ post.title }}" href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
            </a>
            <small>{{ post.date | date_to_string }}</small></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        
      </div>
      
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src='{{ site.baseurl }}/public/js/script.js'></script>
    <script>
      $(function(){
        $(window).scroll(function (event) {
            var scrollY = $(window).scrollTop();
            var rightMenu = $(".mg-right-menu-container");
            if(scrollY > 70){
              rightMenu.css({"top":"0px","transition":"1s"});
            }else{
              rightMenu.css("top","");
            }
        });
      });
     
    </script>
  </body>
</html>
